body {
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
}

a {
  color: rgb(141, 141, 141);
  text-decoration: none;
}

a:hover {
  color: #000;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  margin-top: 30px;
  margin-left: 10vw;
}

.navbar-about {
  margin-right: 30px;
}

.navbar .navbar-brand,
.navbar .navbar-about {
  font-size: 1.7rem;
  padding-left: 20px;
}

.about-section {
  padding: 7rem;
}

.about-columns {
  display: flex;
}

.about-column {
  margin-right: 20px;
}

.about-column img {
  margin-top: 16px;
}

.item {
  border: none;
  margin-left: 10vw;
  max-width: 80vw;
  display: flex;
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 40vw;
  max-height: 80vh;
  margin: 20px;
  border-radius: 2%;
  border: 1px solid rgb(231, 230, 230);
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.item .item-wrap img {
  transition: 0.3s transform ease;
  transform: scale(1);
}

.portfolio-image img {
  max-width: 40vw;
  object-fit: contain;
}

.item .item-wrap > .detail-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.item .item-wrap > .detail-info h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.item .item-wrap > .detail-info a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .detail-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}
